.content{
	width: 80%;
	height: 450px;
	background-image: url(picture-red/red5.jpg);
    background-size: cover;
    margin: auto;
}
.box-soild{
	width: 1000px;
	height: 350px;
	padding-top: 20px;
	margin: auto;
	text-align: center;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(245,245,245);
}
.box1{
	width: 400px;
	height: 300px;
	padding-top: 80px;
	margin: auto;
	text-align: center;
}
.title1{
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-top: 40px;
    margin:auto;
    text-align: center;
    color:rgb(255,136,167);
}
.title2{
/*  padding-top: 30px;*/
    padding-left: 20px;
    font-size: 60px;
    height: 60px;
    width: 350px;
    margin:auto;
    color: rgb(245,245,245);
}
.p1{
    width: 300px;
    height: 20px;
    font-size:20px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin:auto;
    text-align: center;
    color:rgb(255,136,167);
}
/*button*/
   .btn-box{
            width: 260px;
            height: auto;
            margin: auto;

        }
   .btn-box button{
            width: 240px;
            height: 80px;
            border: 1px solid rgb(163,7,63);
            background-color: rgb(211,0,56);
            border-radius: 5px;
            font-size: 28px;
            margin: 0 15px;
            color: rgb(255,255,255);
            outline: none;
            border-radius: 30px;

        }
        .btn-box button:hover{
            background-color: rgb(218,44,82);
            color: rgb(255,255,255);
        }
